extends /layouts/component-page

prepend head
    - ID = 'button'
    - TITLE = 'Button'
    - DESC = 'Buttons communicate an action a user can take. They are typically placed throughout your UI, in places like dialogs, forms, cards, and toolbars.'
    - GUIDE_URL = 'https://material.io/components/buttons'
    - DOCS_URL = 'https://github.com/material-components/material-components-web/tree/master/packages/mdc-button'
    
    style.
        .mdc-button + .mdc-button {
            margin-left: 8px
        }

block main
    +section('Examples')
        +example('Text Button')(code)
            :code
                +mdc-button('Button')
                +mdc-button('Button')(outlined)
                +mdc-button('Button')(unelevated)
                +mdc-button('Button')(raised)

                // or
                // +mdc-button(label='Button')
                // +mdc-button(label='Button' outlined)
                // +mdc-button(label='Button' unelevated)
                // +mdc-button(label='Button' raised)

        +example('Buttons with an icon')(code)
            :code
                +mdc-button('Button')(icon='star')
                +mdc-button('Button')(icon='star' outlined)
                +mdc-button('Button')(icon='star' unelevated)
                +mdc-button('Button')(icon='star' raised)

                // or
                // +mdc-button('Button')(leadingIcon='star')
                // +mdc-button('Button')(leadingIcon='star' outlined)
                // +mdc-button('Button')(leadingIcon='star' unelevated)
                // +mdc-button('Button')(leadingIcon='star' raised)

        +example('Buttons with a trailing icon')(code)
            :code
                +mdc-button('Button')(trailingIcon='star')
                +mdc-button('Button')(trailingIcon='star' outlined)
                +mdc-button('Button')(trailingIcon='star' unelevated)
                +mdc-button('Button')(trailingIcon='star' raised)

        +example('Buttons with leading and trailing icons')(code)
            :code
                +mdc-button('Button')(
                    leadingIcon='star'
                    trailingIcon='star'
                )
                +mdc-button('Button')(
                    leadingIcon='star'
                    trailingIcon='star'
                    outlined
                )
                +mdc-button('Button')(
                    leadingIcon='star'
                    trailingIcon='star'
                    unelevated
                )
                +mdc-button('Button')(
                    leadingIcon='star',
                    trailingIcon='star'
                    raised
                )