extends /layouts/component-page

prepend head
    - ID = 'avatar'
    - TITLE = 'Avatar'
    - DESC = 'An avatar is a graphical representation of a user or a thing.'

block main
    +section('Examples')
        +example('Text')(code)
            :code
                +mdc-avatar('P')
                // or
                // +mdc-avatar(text='P')

        +example('Icon')(code)
            :code
                +mdc-avatar(icon='star')

        +example('Image')(code)
            :code
                +mdc-avatar(image='https://placeimg.com/128/128/people')

                // or
                // +mdc-avatar(
                //     image={
                //         src: 'https://placeimg.com/128/128/people',
                //         alt: ''
                //     }
                // )

        +example('Sizes')(code)
            :code
                +mdc-avatar(
                    image='https://placeimg.com/128/128/people'
                    size='small'
                )
                +mdc-avatar(
                    image='https://placeimg.com/128/128/people'
                    size='medium'
                )
                +mdc-avatar(
                    image='https://placeimg.com/128/128/people'
                    size='large'
                )

                // or
                // +mdc-avatar(
                //     image='https://placeimg.com/128/128/people'
                //     small
                // )
                // +mdc-avatar(
                //     image='https://placeimg.com/128/128/people'
                //     medium
                // )
                // +mdc-avatar(
                //     image='https://placeimg.com/128/128/people'
                //     large
                // )

    +section('Arguments')
        +arg-table([
            ['string', 'The text content.']
        ])

    +section('Attributes')
        +attr-table([
            ['text', 'string', 'The text content.'],
            ['icon', 'string', 'The name of the icon.'],
            ['image', 'string | object', 'The source of the image or an object with image attributes.'],
            ['size', 'string', 'The size of the avatar. Valid values are `small`, `medium`, `large`.'],
            ['small', 'boolean', 'Shorthand for `size=\'small\'`.'],
            ['medium', 'boolean', 'Shorthand for `size=\'medium\'`.'],
            ['large', 'boolean', 'Shorthand for `size=\'large\'`.']
        ])