mixin mdc-select(name, value)
    div.mdc-select(
        class=attributes.class
        class={
            'mdc-select--outlined': attributes.outlined,
            'mdc-select--disabled': attributes.disabled,
            'mdc-select--required': attributes.required,
            'mdc-select--with-leading-icon': attributes.icon,
            'mdc-select--no-label': !attributes.label
        }
        data-mdc-auto-init='MDCSelect'
    )
        input(
            type='hidden'
            name=name
            value=value
        )&attributes({}, attributes, {class: undefined, outlined: undefined, label: undefined, icon: undefined, selectedText: undefined, 'aria-controls': undefined, 'aria-describedby': undefined})

        div.mdc-select__anchor
            i.mdc-select__dropdown-icon

            div.mdc-select__selected-text(
                aria-disabled=attributes.disabled && 'true'
                aria-controls=attributes['aria-controls']
                aria-describedby=attributes['aria-describedby']
            )= attributes.selectedText

            if attributes.icon
                i.material-icons.mdc-select__icon= attributes.icon

            unless attributes.outlined
                +mdc-floating-label(attributes.label)(floatAbove=Boolean(selectedText))
            
            if attributes.outlined
                +mdc-notched-outline
                    if attributes.label
                        +mdc-floating-label(attributes.label)(floatAbove=Boolean(selectedText))
            else
                +mdc-line-ripple

        div.mdc-select__menu.mdc-menu.mdc-menu-surface
            ul.mdc-list
                block

mixin mdc-select-option(value, title)
    +mdc-list-item(title)(
        data-value=value
        aria-disabled=(attributes.disabled && 'true')
        aria-selected=(attributes.selected && 'true')
    )&attributes(attributes)

mixin mdc-select-helper-text
    #{attributes.element || 'p'}.mdc-select-helper-text(
        class={
            'mdc-select-helper-text--persistent': attributes.persistent,
            'mdc-select-helper-text--validation-msg': attributes.validation
        }
    )&attributes(attributes)
