mixin mdc-slider(value)
    div.mdc-slider(
        role='slider'
        aria-valuenow=value || '0'
        aria-valuemin=attributes.min || '0'
        aria-valuemax=attributes.max || '100'
        aria-label=attributes.label
        aria-disabled=attributes.disabled && 'true'
        data-step=attributes.step || '0'
        tabindex='0'
        class={
            'mdc-slider mdc-slider--discrete': attributes.discrete,
            'mdc-slider--display-markers': attributes.discrete && attributes.displayMarkers
        }
        data-mdc-auto-init='MDCSlider'
    )
        div.mdc-slider__track-container
            div.mdc-slider__track
            div.mdc-slider__track-marker-container
        
        div.mdc-slider__thumb-container
            if attributes.discrete
                div.mdc-slider__pin
                    span.mdc-slider__pin-value-marker

            svg.mdc-slider__thumb(width='21' height='21')
                circle(cx='10.5' cy='10.5' r='7.875')

            div.mdc-slider__focus-ring