mixin mdc-slider(value = 0)
    div.mdc-slider(
         class={
            'mdc-slider--discrete': attributes.discrete,
            'mdc-slider--display-markers': attributes.markers
        }
        tabindex='0'
        role='slider'
        aria-valuenow=value
        aria-valuemin=attributes.min || '0'
        aria-valuemax=attributes.max || '100'
        aria-label=attributes.label
        aria-disabled=attributes.disabled && 'true'
        data-step=attributes.step || '0'
        data-mdc-auto-init='MDCSlider'
    )&attributes(Object.assign({}, attributes, {min: undefined, max: undefined, step: undefined, label: undefined, discrete: undefined, disabled: undefined}))
        div.mdc-slider__track-container
            div.mdc-slider__track

            if attributes.markers
                div.mdc-slider__track-marker-container
        
        div.mdc-slider__thumb-container
            if attributes.discrete
                div.mdc-slider__pin
                    span.mdc-slider__pin-value-marker

            svg.mdc-slider__thumb(width='21' height='21')
                circle(cx='10.5' cy='10.5' r='7.875')

            div.mdc-slider__focus-ring