mixin mdc-switch(name)
    div.mdc-switch(
        class=attributes.class
        class={
            'mdc-switch--checked': attributes.checked,
            'mdc-switch--disabled': attributes.disabled
        }
        data-mdc-auto-init='MDCSwitch'
    )
        div.mdc-switch__track

        div.mdc-switch__thumb-underlay
            div.mdc-switch__thumb
            
            input.mdc-switch__native-control(
                type='checkbox'
                name=name
                role='switch'
                aria-checked=(attributes.checked && !attributes.disabled) ? 'true' : 'false'
            )&attributes(Object.assign({}, attributes, { class: undefined }))