mixin mdc-tab(text)
    #{attributes.element || 'button'}.mdc-tab(
        class={
            'mdc-tab--active': attributes.active,
            'mdc-tab--stacked': attributes.stacked,
            'mdc-tab--min-width': attributes.minWidth
        }
        role='tab'
        aria-selected=(attributes.active ? 'true' : 'false')
        tabindex=(attributes.active ? undefined : '-1')
    )&attributes(Object.assign({}, attributes, { element: undefined, icon: undefined, active: undefined, stacked: undefined, minWidth: undefined, fade: undefined, indicatorIcon: undefined, indicatorMinWidth: undefined }))
        span.mdc-tab__content
            if attributes.icon
                +mdc-icon(attributes.icon)(aria-hidden='true').mdc-tab__icon

            if text
                span.mdc-tab__text-label= text

            if attributes.indicatorMinWidth
                +mdc-tab-indicator()(
                    icon=attributes.indicatorIcon
                    active=attributes.active
                    fade=attributes.fade
                )

            block

        unless attributes.indicatorMinWidth
            +mdc-tab-indicator()(
                icon=attributes.indicatorIcon
                active=attributes.active
                fade=attributes.fade
            )

        span.mdc-tab__ripple