mixin mdc-text-field(name, value)
    label.mdc-text-field(
        class=attributes.class
        class={
            'mdc-text-field--textarea': attributes.textarea,
            'mdc-text-field--fullwidth': attributes.fullwidth,
            'mdc-text-field--outlined': attributes.outlined,
            'mdc-text-field--disabled': attributes.disabled,
            'mdc-text-field--focused': attributes.focused,
            'mdc-text-field--with-leading-icon': attributes.leadingIcon,
            'mdc-text-field--with-trailing-icon': attributes.trailingIcon,
            'mdc-text-field--no-label': !attributes.label,
            'mdc-text-field--end-aligned': attributes.endAligned
        }
        data-mdc-auto-init='MDCTextField'
    )
        div.mdc-text-field__ripple

        if attributes.leadingIcon
            +mdc-icon(attributes.leadingIcon).mdc-text-field__icon.mdc-text-field__icon--leading

        #{attributes.textarea ? 'textarea' : 'input'}.mdc-text-field__input(
            name=name
            value=value
        )&attributes(Object.assign({}, attributes, {class: undefined, textarea: undefined, label: undefined, fullwidth: undefined, outlined: undefined, leadingIcon: undefined, trailingIcon: undefined, focused: undefined, endAligned: undefined}))

        if attributes.trailingIcon
            +mdc-icon(attributes.trailingIcon)(tabindex='0' role='button').mdc-text-field__icon.mdc-text-field__icon--trailing

        if attributes.label && !attributes.fullwidth && !attributes.outlined
            +mdc-floating-label(attributes.label)(floatAbove=Boolean(value))

        if attributes.outlined
            +mdc-notched-outline
                if attributes.label
                    +mdc-floating-label(attributes.label)(floatAbove=Boolean(value))
        else
            +mdc-line-ripple

mixin mdc-text-field-helper-line
    div.mdc-text-field-helper-line
        block

mixin mdc-text-field-helper-text(text)
    div.mdc-text-field-helper-text(
        class={
            'mdc-text-field-helper-text--persistent': attributes.persistent,
            'mdc-text-field-helper-text--validation-msg': attributes.validation
        }
        aria-hidden='true'
    )&attributes(Object.assign({}, attributes, {persistent: undefined, validation: undefined}))
        = text
        block

mixin mdc-text-field-character-counter
    div.mdc-text-field-character-counter