mixin mdc-data-table
    div.mdc-data-table(
        class={
            'mdc-data-table--sticky-header': attributes.stickyHeader
        }
        data-mdc-auto-init='MDCDataTable'
    )
        div.mdc-data-table__table-container
            table.mdc-data-table__table&attributes(Object.assign({}, attributes, { stickyHeader: undefined, progress: undefined, pagination: undefined }))
                block
        
        if attributes.progress
            +mdc-data-table__progress-indicator

        if attributes.pagination
            +mdc-data-table__pagination&attributes(attributes.pagination)

mixin mdc-data-table__header
    thead.mdc-data-table__header&attributes(attributes)
        block

mixin mdc-data-table__header-row
    tr.mdc-data-table__header-row&attributes(attributes)
        block

mixin mdc-data-table__header-cell
    td.mdc-data-table__header-cell(
        class={
            'mdc-data-table__header-cell--numeric': attributes.numeric,
            'mdc-data-table__header-cell--checkbox': attributes.checkbox,
            'mdc-data-table__header-cell--with-sort': attributes.withSort
        }
        role='columnheader'
        scope='col'
    )&attributes(Object.assign({}, attributes, { numeric: undefined, checkbox: undefined, withSort: undefined }))
        if attributes.withSort
            div.mdc-data-table__header-cell-wrapper
                div.mdc-data-table__header-cell-label
                    block

                button.mdc-icon-button.material-icons.mdc-data-table__sort-icon-button arrow_upward

                div.mdc-data-table__sort-status-label(aria-hidden='true')
        else
            block

mixin mdc-data-table__content
    tbody.mdc-data-table__content&attributes(attributes)
        block

mixin mdc-data-table__row
    tr.mdc-data-table__row(
        class={
            'mdc-data-table__row--selected': attributes.selected
        }
    )&attributes(Object.assign({}, attributes, { selected: undefined }))
        block

mixin mdc-data-table__cell
    #{attributes.element || 'td'}.mdc-data-table__cell(
        class={
            'mdc-data-table__cell--numeric': attributes.numeric,
            'mdc-data-table__cell--checkbox': attributes.checkbox,
        }
    )&attributes(Object.assign({}, attributes, { element: undefined, numeric: undefined, checkbox: undefined }))
        block

mixin mdc-data-table__header-row-checkbox(name)
    +mdc-checkbox(name).mdc-data-table__header-row-checkbox&attributes(attributes)

mixin mdc-data-table__row-checkbox(name)
    +mdc-checkbox(name).mdc-data-table__row-checkbox&attributes(attributes)

mixin mdc-data-table__progress-indicator
    div.mdc-data-table__progress-indicator
        div.mdc-data-table__scrim
            +mdc-linear-progress()(indeterminate).mdc-data-table__linear-progress

mixin mdc-data-table__pagination
    div.mdc-data-table__pagination
        div.mdc-data-table__pagination-trailing
            div.mdc-data-table__pagination-rows-per-page
                div.mdc-data-table__pagination-rows-per-page-label= attributes.rowsPerPageLabel || 'Rows per page'

                +mdc-select()(outlined).mdc-data-table__pagination-rows-per-page-select
                    for num in [10, 25, 50, 100]
                        +mdc-select-option(num, num)(selected = num === attributes.rowsPerPage)

            div.mdc-data-table__pagination-navigation
                div.mdc-data-table__pagination-total= `1‑${attributes.rowsPerPage} of ${attributes.numberOfPages}`

                +mdc-icon-button('first_page')(data-first-page='true' disabled).mdc-data-table__pagination-button
                +mdc-icon-button('chevron_left')(data-prev-page='true' disabled).mdc-data-table__pagination-button
                +mdc-icon-button('chevron_right')(data-next-page='true').mdc-data-table__pagination-button
                +mdc-icon-button('last_page')(data-last-page='true').mdc-data-table__pagination-button