mixin mdc-select
    div.mdc-select(
        class=attributes.class
        class={
            'mdc-select--filled': attributes.filled,
            'mdc-select--outlined': attributes.outlined,
            'mdc-select--disabled': attributes.disabled,
            'mdc-select--required': attributes.required,
            'mdc-select--fullwidth': attributes.fullwidth,
            'mdc-select--with-leading-icon': attributes.icon,
            'mdc-select--no-label': !attributes.label
        }
        data-mdc-auto-init='MDCSelect'
    )
        if attributes.name
            input(type='hidden')&attributes(Object.assign({}, attributes, { class: undefined, label: undefined, selectedText: undefined, icon: undefined, filled: undefined, outlined: undefined, fullwidth: undefined, menu: undefined, list: undefined }))

        div.mdc-select__anchor(
            aria-required=attributes.required && 'true'
            aria-disabled=attributes.disabled && 'true'
        )
            if attributes.outlined
                +mdc-notched-outline
                    if attributes.label
                        +mdc-floating-label(attributes.label)(floatAbove=Boolean(attributes.value))
            else
                span.mdc-select__ripple
                if attributes.label
                    +mdc-floating-label(attributes.label)(floatAbove=Boolean(attributes.value))

            if attributes.icon
                i.material-icons.mdc-select__icon= attributes.icon

            span.mdc-select__selected-text-container
                span.mdc-select__selected-text= attributes.selectedText

            span.mdc-select__dropdown-icon
                svg.mdc-select__dropdown-icon-graphic(viewBox='7 10 10 5' focusable='false')
                    polygon.mdc-select__dropdown-icon-inactive(
                        stoke='none'
                        fill-rule='evenodd'
                        points='7 10 12 15 17 10'
                    )
                    polygon.mdc-select__dropdown-icon-active(
                        stoke='none'
                        fill-rule='evenodd'
                        points='7 15 12 10 17 15'
                    )

            unless attributes.outlined
                +mdc-line-ripple

        +mdc-menu()(fullwidth).mdc-select__menu&attributes(attributes.menu)
            +mdc-list&attributes(attributes.list)
                block

mixin mdc-select-option(...args)
    +mdc-list-item(...args)(
        data-value=attributes.value
        aria-disabled=(attributes.disabled && 'true')
        aria-selected=(attributes.selected && 'true')
    )&attributes(Object.assign({}, attributes, { value: undefined }))

mixin mdc-select-helper-text(text)
    #{attributes.element || 'p'}.mdc-select-helper-text(
        class={
            'mdc-select-helper-text--validation-msg': attributes.validation,
            'mdc-select-helper-text--validation-msg-persistent': attributes.persistent
        }
        aria-hidden='true'
    )&attributes(Object.assign({}, attributes, { element: undefined, validation: undefined, persistent: undefined }))= text
        block