include icon

mixin mdc-banner(_text)
    - const { element = 'div', text = _text, icon, open, centered, fixed, mobileStacked, ...rest } = attributes

    #{element}.mdc-banner(
        class={
            'mdc-banner--open': open,
            'mdc-banner--centered': centered,
            'mdc-banner--mobile-stacked': mobileStacked
        }
        style=open && `height: ${icon ? 72 : 52}px`
        role='banner'
        data-mdc-auto-init='MDCBanner'
    )&attributes(rest)
        if !text
            block
        else if fixed
            div.mdc-banner__fixed
                +mdc-banner__content(text=text icon=icon)
                    if block
                        +mdc-banner__actions
                            block
        else
            +mdc-banner__content(text=text icon=icon)
                if block
                    +mdc-banner__actions
                        block

mixin mdc-banner__content(_text)
    - const { element = 'div', text = _text, icon, ...rest } = attributes

    #{element}.mdc-banner__content(role='alertdialog' aria-live='assertive')&attributes(rest)
        div.mdc-banner__graphic-text-wrapper
            if icon
                div.mdc-banner__graphic(role='img' alt='')
                    +mdc-icon(icon).mdc-banner__icon
        
            div.mdc-banner__text= text

        block

mixin mdc-banner__actions
    - const { element = 'div', ...rest } = attributes

    #{element}.mdc-banner__actions&attributes(rest)
        block

mixin mdc-banner__action(label)
    - const { primary, secondary, ...rest } = attributes

    +mdc-button(label)(class={
        'mdc-banner__primary-action': primary,
        'mdc-banner__secondary-action': secondary
    })&attributes(rest)