mixin mdc-card
    #{attributes.element || 'div'}.mdc-card(
        class={
            'mdc-card--outlined': attributes.outlined
        }
    )&attributes(Object.assign({}, attributes, { element: undefined, outlined: undefined }))
        block

mixin mdc-card__primary-action
    #{attributes.element || 'div'}.mdc-card__primary-action(
        tabindex='0'
        data-mdc-auto-init=attributes.ripple && 'MDCRipple'
    )&attributes(Object.assign({}, attributes, { element: undefined, ripple: undefined }))
        block

        div.mdc-card__ripple

mixin mdc-card__header(title, subtitle, overline)
    - title = title || attributes.title
    - subtitle = subtitle || attributes.subtitle
    - overline = overline || attributes.overline
    
    #{attributes.element || 'div'}.mdc-card__header(
        class={
            'mdc-card__header--with-actions': attributes.withActions
        }
    )&attributes(Object.assign({}, attributes, { element: undefined, title: undefined, subtitle: undefined, overline: undefined, withActions: undefined }))
        if title || subtitle || overline
            +mdc-card__header__content(title, subtitle, overline)&attributes(attributes)
        
        block

mixin mdc-card__header__content(title, subtitle, overline)
    - title = title || attributes.title
    - subtitle = subtitle || attributes.subtitle
    - overline = overline || attributes.overline

    div.mdc-card__header__content&attributes(attributes)
        if overline
            +mdc-card__overline(overline)

        if title
            +mdc-card__title(title)
        
        if subtitle
            +mdc-card__subtitle(subtitle)

        block

mixin mdc-card__header__graphic
    div.mdc-card__header__graphic&attributes(attributes)
        block

mixin mdc-card__header__actions
    div.mdc-card__header__actions&attributes(attributes)
        block
    
mixin mdc-card__overline(text)
    #{attributes.element || 'span'}.mdc-card__overline&attributes(Object.assign({}, attributes, { element: undefined }))
        = text
        block

mixin mdc-card__title(text)
    #{attributes.element || 'h2'}.mdc-card__title&attributes(Object.assign({}, attributes, { element: undefined }))
        = text
        block

mixin mdc-card__subtitle(text)
    #{attributes.element || 'h3'}.mdc-card__subtitle&attributes(Object.assign({}, attributes, { element: undefined }))
        = text
        block

mixin mdc-card__section
    #{attributes.element || 'div'}.mdc-card__section(
        class={
            'mdc-card__section--primary': attributes.primary,
            'mdc-card__section--secondary': attributes.secondary
        }
    )&attributes(Object.assign({}, attributes, { element: undefined, primary: undefined, secondary: undefined }))
        block

mixin mdc-card__media(src)
    div.mdc-card__media(
        class={
            'mdc-card__media--square': attributes.square,
            'mdc-card__media--16-9': attributes.wide
        }
        style=src && `background-image: url(${src})`
    )&attributes(Object.assign({}, attributes, { square: undefined, wide: undefined }))
        if block
            div.mdc-card__media-content
                block

mixin mdc-card__content
    div.mdc-card__content&attributes(attributes)
        block

mixin mdc-card__actions
    #{attributes.element || 'div'}.mdc-card__actions(
        class={
            'mdc-card__actions--full-bleed': attributes.fullBleed
        }
    )&attributes(Object.assign({}, attributes, { element: undefined, fullBleed: undefined }))
        block

mixin mdc-card__action-buttons
    div.mdc-card__action-buttons&attributes(attributes)
        block

mixin mdc-card__action-icons
    div.mdc-card__action-icons&attributes(attributes)
        block

mixin mdc-card__button(label)
    +mdc-button(label).mdc-card__action.mdc-card__action--button&attributes(attributes)
        block

mixin mdc-card__icon(icon)
    +mdc-icon-button(icon).mdc-card__action.mdc-card__action--icon&attributes(attributes)
        block