include button
include icon-button

mixin mdc-card
    - const { element = 'div', outlined, ...rest } = attributes

    #{element}.mdc-card(class={
        'mdc-card--outlined': outlined
    })&attributes(rest)
        block

mixin mdc-card__primary-action
    - const { element = 'div', ...rest } = attributes

    #{element}.mdc-card__primary-action(
        tabindex='0'
        data-mdc-auto-init='MDCRipple'
    )&attributes(rest)
        block

        div.mdc-card__ripple

mixin mdc-card__header(_title, _subtitle, _overline)
    - const { element = 'div', title = _title, subtitle = _subtitle, overline = _overline, icon, image, avatar, withActions, ...rest } = attributes

    #{element}.mdc-card__header(class={
        'mdc-card__header--with-actions': withActions
    })&attributes(rest)
        if icon || image || avatar
            +mdc-card__header__graphic(
                icon=icon
                image=image
                avatar=avatar
            )

        if title || subtitle || overline
            +mdc-card__header__content(
                title=title
                subtitle=subtitle
                overline=overline
            )
        
        block

mixin mdc-card__header__graphic
    - const { element = 'div', icon, image, avatar, ...rest } = attributes

    #{element}.mdc-card__header__graphic&attributes(rest)
        if icon
            +mdc-icon(icon)
        if image
            +image(image)
        if avatar
            +mdc-avatar&attributes(avatar)
        block

mixin mdc-card__header__content(_title, _subtitle, _overline)
    - const { element = 'div', title = _title, subtitle = _subtitle, overline = _overline, ...rest } = attributes

    #{element}.mdc-card__header__content&attributes(rest)
        if overline
            +mdc-card__overline(overline)

        if title
            +mdc-card__title(title)

        if subtitle
            +mdc-card__subtitle(subtitle)
        
        block

mixin mdc-card__header__actions
    - const { element = 'div', ...rest } = attributes
    #{element}.mdc-card__header__actions&attributes(rest)
        block
    
mixin mdc-card__overline(text)
    - const { element = 'span', ...rest } = attributes

    #{element}.mdc-card__overline&attributes(rest)=text
        block

mixin mdc-card__title(text)
    - const { element = 'h2', ...rest } = attributes

    #{element}.mdc-card__title&attributes(rest)=text
        block

mixin mdc-card__subtitle(text)
    - const { element = 'h3', ...rest } = attributes

    #{element}.mdc-card__subtitle&attributes(rest)=text
        block

mixin mdc-card__section
    - const { element = 'div', primary, secondary, ...rest } = attributes

    #{element}.mdc-card__section(class={
        'mdc-card__section--primary': primary,
        'mdc-card__section--secondary': secondary
    })&attributes(rest)
        block

mixin mdc-card__media(_url)
    - const { element = 'div', url = _url, square, wide, ...rest } = attributes

    #{element}.mdc-card__media(
        class={
            'mdc-card__media--square': square,
            'mdc-card__media--16-9': wide
        }
        style=url && `background-image: url(${url})`
    )&attributes(rest)
        if block
            div.mdc-card__media-content
                block

mixin mdc-card__content
    - const { element = 'div', fullBleed, ...rest } = attributes

    #{element}.mdc-card__content&attributes(attributes)
        block

mixin mdc-card__actions
    - const { element = 'div', fullBleed, ...rest } = attributes

    #{element}.mdc-card__actions(class={
        'mdc-card__actions--full-bleed': fullBleed
    })&attributes(rest)
        block

mixin mdc-card__action-buttons
    - const { element = 'div', ...rest } = attributes

    #{element}.mdc-card__action-buttons&attributes(rest)
        block

mixin mdc-card__action-icons
    - const { element = 'div', ...rest } = attributes

    #{element}.mdc-card__action-icons&attributes(rest)
        block

mixin mdc-card__button(label)
    +mdc-button(label).mdc-card__action.mdc-card__action--button&attributes(attributes)
        block

mixin mdc-card__icon(onIcon, offIcon)
    +mdc-icon-button(onIcon, offIcon).mdc-card__action.mdc-card__action--icon&attributes(attributes)
        block