mixin mdc-checkbox
    - const { element = 'div', class: cssClass, selected, disabled, indeterminate, ...rest } = attributes

    #{element}.mdc-checkbox(
        class=cssClass
        class={
            'mdc-checkbox--selected': selected,
            'mdc-checkbox--disabled': disabled
        }
        data-mdc-auto-init='MDCCheckbox'
    )
        input.mdc-checkbox__native-control(
            type='checkbox'
            data-indeterminate=indeterminate && 'true'
        )&attributes(rest)

        div.mdc-checkbox__background
            svg.mdc-checkbox__checkmark(viewBox='0 0 24 24')
                path.mdc-checkbox__checkmark-path(
                    fill='none'
                    stroke='white'
                    d='M1.73,12.91 8.1,19.28 22.79,4.59'
                )
            div.mdc-checkbox__mixedmark
        
        div.mdc-checkbox__ripple