include avatar
include icon

mixin mdc-chip-set
    - const { element = 'div', filter, input, overflow, multiselectable, ...rest } = attributes
    - const listbox = filter || input

    #{element}.mdc-evolution-chip-set(
        class={
            'mdc-evolution-chip-set--overflow': overflow
        }
        role=listbox ? 'listbox' : 'grid'
        aria-orientation=listbox && 'horizontal'
        aria-multiselectable=listbox && Boolean(multiselectable).toString()
        data-mdc-auto-init='MDCChipSet'
    )&attributes(rest)
        span.mdc-evolution-chip-set__chips(role='presentation')
            block

mixin mdc-chip(_label)
    - const { element = 'span', label = _label, avatar, icon, primaryIcon = icon, trailingIcon, filter, input, selected, disabled, ...rest } = attributes

    #{element}.mdc-evolution-chip(
        class={
            'mdc-evolution-chip--selectable': filter,
            'mdc-evolution-chip--selected': selected,
            'mdc-evolution-chip--disabled': disabled,
            'mdc-evolution-chip--filter': filter,
            'mdc-evolution-chip--with-avatar': avatar,
            'mdc-evolution-chip--with-primary-graphic': primaryIcon || avatar || filter,
            'mdc-evolution-chip--with-primary-icon': primaryIcon,
            'mdc-evolution-chip--with-trailing-action': trailingIcon || input
        }
        data-mdc-auto-init='MDCChip'
    )&attributes(rest)
        if filter
            +mdc-chip__action(
                element='span'
                label=label
                avatar=avatar
                primaryIcon=primaryIcon
                trailingIcon=trailingIcon
                disabled=disabled
                primary
                checkmark
            )

        else
            +mdc-chip__cell()(primary)
                +mdc-chip__action(
                    label=label
                    avatar=avatar
                    primaryIcon=primaryIcon
                    disabled=disabled
                    primary
                )

            if input || trailingIcon
                +mdc-chip__cell()(trailing)
                    +mdc-chip__action(
                        trailingIcon=trailingIcon || 'close'
                        disabled=disabled
                        trailing
                        deletable
                    )
        block

mixin mdc-chip__cell
    - const { element = 'span', primary, trailing, ...rest } = attributes

    #{element}.mdc-evolution-chip__cell(
        class={
            'mdc-evolution-chip__cell--primary': primary,
            'mdc-evolution-chip__cell--trailing': trailing
        }
        role='gridcell'
    )&attributes(rest)
        block

mixin mdc-chip__action(_label)
    - const { element = 'button', primary, trailing, label = _label, avatar, primaryIcon, trailingIcon, checkmark, deletable, ...rest } = attributes

    #{element}.mdc-evolution-chip__action(
        type='button'
        class={
            'mdc-evolution-chip__action--primary': primary,
            'mdc-evolution-chip__action--trailing': trailing
        }
        tabindex=primary ? "0" : "-1"
        data-mdc-deletable=deletable && 'true'
    )&attributes(rest)
        span.mdc-evolution-chip__ripple(class={
            'mdc-evolution-chip__ripple--primary': primary,
            'mdc-evolution-chip__ripple--trailing': trailing
        })

        if avatar || primaryIcon || checkmark
            span.mdc-evolution-chip__graphic
                if avatar
                    case typeof avatar
                        when 'string'
                            +mdc-avatar(avatar)(small)
                        when 'object'
                            +mdc-avatar()(small)&attributes(avatar)

                else if primaryIcon
                    +mdc-icon(primaryIcon)(element='span').mdc-evolution-chip__icon.mdc-evolution-chip__icon--primary

                else if checkmark
                    span.mdc-evolution-chip__checkmark
                        svg.mdc-evolution-chip__checkmark-svg(viewBox="-2 -3 30 30")
                            path.mdc-evolution-chip__checkmark-path(fill="none" stroke="black" d="M1.73,12.91 8.1,19.28 22.79,4.59")

        if label
            span.mdc-evolution-chip__text-label= label

        if trailingIcon
            +mdc-icon(trailingIcon).mdc-evolution-chip__icon.mdc-evolution-chip__icon--trailing