mixin mdc-dialog
    #{attributes.element || 'div'}.mdc-dialog(
        class={
            'mdc-dialog--open': attributes.open,
            'mdc-dialog--stacked': attributes.stacked
        }
        data-mdc-auto-init='MDCDialog'
    )&attributes(Object.assign({}, attributes, { element: undefined, open: undefined, stacked: undefined }))
        div.mdc-dialog__container
            div.mdc-dialog__surface(role='alertdialog' aria-modal='true')
                block
            
        div.mdc-dialog__scrim

mixin mdc-dialog__title(title)
    #{attributes.element || 'h2'}.mdc-dialog__title&attributes(Object.assign({}, attributes, { element: undefined }))= title
        block

mixin mdc-dialog__content
    #{attributes.element || 'div'}.mdc-dialog__content&attributes(Object.assign({}, attributes, { element: undefined }))
        block

mixin mdc-dialog__actions
    #{attributes.element || 'div'}.mdc-dialog__actions&attributes(Object.assign({}, attributes, { element: undefined }))
        block

mixin mdc-dialog__button(label)
    +mdc-button(label)(
        data-mdc-dialog-action=attributes.action
        data-mdc-dialog-button-default=attributes.default
        data-mdc-dialog-initial-focus=attributes.focused
    ).mdc-dialog__button&attributes(Object.assign({}, attributes, { action: undefined, default: undefined, focused }))
        block