mixin mdc-drawer(_title, _subtitle)
    - const { element = 'aside', title = _title, subtitle = _subtitle, content, dismissible, modal, open, ...rest } = attributes

    #{element}.mdc-drawer(
        class={
            'mdc-drawer--dismissible': dismissible,
            'mdc-drawer--modal': modal,
            'mdc-drawer--open': open
        }
        data-mdc-auto-init=(dismissible || modal) && 'MDCDrawer'
    )&attributes(rest)
        if title || subtitle
            +mdc-drawer__header(title, subtitle)
        if content
            +mdc-drawer__content(content)

        block
    
    if modal
        div.mdc-drawer-scrim

mixin mdc-drawer__header(_title, _subtitle)
    - const { element = 'div', title = _title, subtitle = _subtitle, ...rest } = attributes

    #{element}.mdc-drawer__header&attributes(rest)
        if title
            +mdc-drawer__title(title)
        if subtitle
            +mdc-drawer__subtitle(subtitle)

        block

mixin mdc-drawer__title(content)
    - const { element = 'h3', ...rest } = attributes

    #{element}.mdc-drawer__title&attributes(rest)
        = content
        block

mixin mdc-drawer__subtitle(content)
    - const { element = 'h6', ...rest } = attributes

    #{element}.mdc-drawer__subtitle&attributes(rest)
        = content
        block

mixin mdc-drawer__content
    - const { element = 'div', ...rest } = attributes

    #{element}.mdc-drawer__content&attributes(rest)
        block