mixin mdc-layout-grid
    - const { element = 'div', align, alignLeft, alignRight, fixedColumnWidth, ...rest } = attributes

    #{element}.mdc-layout-grid(class={
        'mdc-layout-grid--align-left': alignLeft,
        'mdc-layout-grid--align-right': alignRight,
        [`mdc-layout-grid--align-${align}`]: align,
        'mdc-layout-grid--fixed-column-width': fixedColumnWidth
    })&attributes(rest)
        div.mdc-layout-grid__inner
            block

mixin mdc-layout-grid__cell(_span = 12)
    - const { element = 'div', grid, span = _span, phone, tablet, desktop, align, order, ...rest } = attributes

    #{element}.mdc-layout-grid__cell(class={
        [`mdc-layout-grid__cell--span-${span}`]: span,
        [`mdc-layout-grid__cell--span-${phone}-phone`]: phone,
        [`mdc-layout-grid__cell--span-${tablet}-tablet`]: tablet,
        [`mdc-layout-grid__cell--span-${desktop}-desktop`]: desktop,
        [`mdc-layout-grid__cell--align-${align}`]: align,
        [`mdc-layout-grid__cell--order-${order}`]: order
    })&attributes(rest)
        if grid
            div.mdc-layout-grid__inner
                block
        else
            block

mixin mdc-layout-grid__inner
    div.mdc-layout-grid__inner&attributes(attributes)
        block