mixin mdc-linear-progress(_progress = 0, _buffer = 100)
    - const { progress = Number(_progress), buffer = Number(_buffer), indeterminate, reversed, closed } = attributes
    - const value = progress > 1 ? (progress / 100) : progress;

    div.mdc-linear-progress(
        class={
            'mdc-linear-progress--indeterminate': indeterminate,
            'mdc-linear-progress--reversed': reversed,
            'mdc-linear-progress--closed': closed
        }
        role='progressbar'
        aria-valuemin='0'
        aria-valuemax='1'
        aria-valuenow=value
        data-mdc-auto-init='MDCLinearProgress'
    )&attributes(Object.assign({}, attributes, { indeterminate: undefined, reversed: undefined, closed: undefined }))
        if buffer
            div.mdc-linear-progress__buffer
                div.mdc-linear-progress__buffer-bar(style=`flex-basis: ${(buffer < 1 ? (buffer * 100) : buffer)}%`)
                div.mdc-linear-progress__buffer-dots

        div.mdc-linear-progress__bar.mdc-linear-progress__primary-bar(style=`transform: scaleX(${value})`)
            span.mdc-linear-progress__bar-inner

        div.mdc-linear-progress__bar.mdc-linear-progress__secondary-bar
            span.mdc-linear-progress__bar-inner