include floating-label
include icon
include line-ripple
include notched-outline

mixin mdc-select
    - const { class: cssClass, label, icon, leadingIcon = icon, selectedText, menu, list, filled, outlined, disabled, required, ...rest } = attributes

    div.mdc-select(
        class=cssClass
        class={
            'mdc-select--filled': filled,
            'mdc-select--outlined': outlined,
            'mdc-select--disabled': disabled,
            'mdc-select--required': required,
            'mdc-select--no-label': !label,
            'mdc-select--with-leading-icon': leadingIcon
        }
        data-mdc-auto-init='MDCSelect'
    )
        if attributes.name
            input(type='hidden')&attributes(rest)

        div.mdc-select__anchor(
            aria-required=required && 'true'
            aria-disabled=disabled && 'true'
        )
            if outlined
                +mdc-notched-outline
                    if label
                        +mdc-floating-label(label)(floatAbove=Boolean(attributes.value))
            else
                span.mdc-select__ripple
                if label
                    +mdc-floating-label(label)(floatAbove=Boolean(attributes.value))

            if icon
                +mdc-icon(icon).mdc-select__icon

            span.mdc-select__selected-text-container
                span.mdc-select__selected-text= selectedText

            span.mdc-select__dropdown-icon
                svg.mdc-select__dropdown-icon-graphic(viewBox='7 10 10 5' focusable='false')
                    polygon.mdc-select__dropdown-icon-inactive(
                        stoke='none'
                        fill-rule='evenodd'
                        points='7 10 12 15 17 10'
                    )
                    polygon.mdc-select__dropdown-icon-active(
                        stoke='none'
                        fill-rule='evenodd'
                        points='7 15 12 10 17 15'
                    )

            unless outlined
                +mdc-line-ripple

        +mdc-menu()(fullwidth list=list).mdc-select__menu&attributes(menu)
            block

mixin mdc-select-option(...args)
    - const { value, ...rest } = attributes

    +mdc-list-item(...args)(
        data-value=value
        aria-disabled=(attributes.disabled && 'true')
        aria-selected=(attributes.selected && 'true')
    )&attributes(rest)

mixin mdc-select-helper-text(text)
    - const { element = 'p', persistent, validation, ...rest } = attributes

    #{element}.mdc-select-helper-text(
        class={
            'mdc-select-helper-text--validation-msg': validation,
            'mdc-select-helper-text--validation-msg-persistent': persistent
        }
        aria-hidden='true'
    )&attributes(rest)= text
        block