mixin mdc-tab-bar
    #{attributes.element || 'div'}.mdc-tab-bar(
        data-mdc-auto-init='MDCTabBar' 
    )&attributes(Object.assign({}, attributes, { element: undefined, align: undefined }))
        +mdc-tab-scroller()(align=attributes.align)
            block

mixin mdc-tab-scroller
    div.mdc-tab-scroller(
        class={
            [`mdc-tab-scroller--align-${attributes.align}`]: attributes.align
        }
    )&attributes(Object.assign({}, attributes, { align: undefined }))
        div.mdc-tab-scroller__scroll-area
            div.mdc-tab-scroller__scroll-content
                block

mixin mdc-tab-indicator
    span.mdc-tab-indicator(
        class={
            'mdc-tab-indicator--active': attributes.active,
            'mdc-tab-indicator--fade': attributes.fade
        }
    )&attributes(Object.assign({}, attributes, { icon: undefined, active: undefined, fade: undefined }))
        if attributes.icon
            +mdc-icon(attributes.icon)(aria-hidden='true').mdc-tab-indicator__content.mdc-tab-indicator__content--icon
        else
            span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline

mixin mdc-tab(text)
    #{attributes.element || 'button'}.mdc-tab(
        class={
            'mdc-tab--active': attributes.active,
            'mdc-tab--stacked': attributes.stacked,
            'mdc-tab--min-width': attributes.minWidth
        }
        role='tab'
        aria-selected=(attributes.active ? 'true' : 'false')
        tabindex=(attributes.active ? undefined : '-1')
    )&attributes(Object.assign({}, attributes, { element: undefined, icon: undefined, active: undefined, stacked: undefined, minWidth: undefined, fade: undefined, indicatorIcon: undefined, indicatorMinWidth: undefined }))
        span.mdc-tab__content
            if attributes.icon
                +mdc-icon(attributes.icon)(aria-hidden='true').mdc-tab__icon

            if text
                span.mdc-tab__text-label= text

            if attributes.indicatorMinWidth
                +mdc-tab-indicator()(
                    icon=attributes.indicatorIcon
                    active=attributes.active
                    fade=attributes.fade
                )

            block

        unless attributes.indicatorMinWidth
            +mdc-tab-indicator()(
                icon=attributes.indicatorIcon
                active=attributes.active
                fade=attributes.fade
            )

        span.mdc-tab__ripple