include icon

mixin mdc-tab-bar
    - const { element = 'div', align, ...rest } = attributes

    #{element}.mdc-tab-bar(
        data-mdc-auto-init='MDCTabBar'
    )&attributes(rest)
        +mdc-tab-scroller()(align=align)
            block

mixin mdc-tab-scroller
    - const { align, ...rest } = attributes

    div.mdc-tab-scroller(class={
        [`mdc-tab-scroller--align-${align}`]: align
    })&attributes(rest)
        div.mdc-tab-scroller__scroll-area
            div.mdc-tab-scroller__scroll-content
                block

mixin mdc-tab-indicator(_icon)
    - const { icon = _icon, active, fade, ...rest } = attributes

    span.mdc-tab-indicator(class={
        'mdc-tab-indicator--active': active,
        'mdc-tab-indicator--fade': fade
    })&attributes(rest)
        if icon
            +mdc-icon(icon)(aria-hidden='true').mdc-tab-indicator__content.mdc-tab-indicator__content--icon
        else
            span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline

mixin mdc-tab(content)
    - const { element = 'button', text, icon, active, stacked, minWidth, fade, indicatorIcon, indicatorMinWidth, ...rest } = attributes

    #{element}.mdc-tab(
        class={
            'mdc-tab--active': active,
            'mdc-tab--stacked': stacked,
            'mdc-tab--min-width': minWidth
        }
        role='tab'
        aria-selected=(active ? 'true' : 'false')
        tabindex=(active ? undefined : '-1')
    )&attributes(rest)
        span.mdc-tab__content
            if icon
                +mdc-icon(icon)(aria-hidden='true').mdc-tab__icon
            
            if text
                span.mdc-tab__text-label= text
                    
            if indicatorMinWidth
                +mdc-tab-indicator(indicatorIcon)(active=active fade=fade)

            block

        unless indicatorMinWidth
            +mdc-tab-indicator(indicatorIcon)(active=active fade=fade)

        span.mdc-tab__ripple