include floating-label
include icon
include line-ripple
include notched-outline

mixin mdc-text-field
    - const { element = 'label', class: cssClass, label, leadingIcon, trailingIcon, prefix, suffix, filled, outlined, textarea, disabled, focused, endAligned, persistentHelperText, validationMessage, helperText = persistentHelperText || validationMessage, counter, ...rest } = attributes

    #{element}.mdc-text-field(
        class=cssClass
        class={
            'mdc-text-field--filled': filled,
            'mdc-text-field--outlined': outlined,
            'mdc-text-field--textarea': textarea,
            'mdc-text-field--disabled': disabled,
            'mdc-text-field--focused': focused,
            'mdc-text-field--label-floating': attributes.value,
            'mdc-text-field--end-aligned': endAligned,
            'mdc-text-field--no-label': !label,
            'mdc-text-field--with-leading-icon': leadingIcon,
            'mdc-text-field--with-trailing-icon': trailingIcon,
            'mdc-text-field--with-internal-counter': counter === 'internal'
        }
        data-mdc-auto-init='MDCTextField'
    )
        if outlined
            +mdc-notched-outline
                if label
                    +mdc-floating-label(label)(floatAbove=Boolean(attributes.value))
        else
            span.mdc-text-field__ripple
            if label
                +mdc-floating-label(label)(floatAbove=Boolean(attributes.value))

        if leadingIcon
            +mdc-icon(leadingIcon).mdc-text-field__icon.mdc-text-field__icon--leading

        if prefix
            span.mdc-text-field__affix.mdc-text-field__affix--prefix= prefix

        if textarea
            span.mdc-text-field__resizer
                textarea.mdc-text-field__input&attributes(rest)

                if counter === 'internal'
                    span.mdc-text-field-character-counter=`0 / ${attributes.maxlength}`
        else
            input.mdc-text-field__input&attributes(rest)

        if suffix
            span.mdc-text-field__affix.mdc-text-field__affix--suffix= suffix

        if trailingIcon
            +mdc-icon(trailingIcon)(role='button' tabindex='0').mdc-text-field__icon.mdc-text-field__icon--trailing

        unless outlined
            +mdc-line-ripple

    if helperText || persistentHelperText || validationMessage
        +mdc-text-field-helper-text(helperText)(
            persistent=Boolean(persistentHelperText)
            validation=Boolean(validationMessage)
        ) 

    if counter === true
        +mdc-text-field-character-counter

mixin mdc-text-field-helper-text(text)
    div.mdc-text-field-helper-line
        div.mdc-text-field-helper-text(
            class={
                'mdc-text-field-helper-text--persistent': persistent,
                'mdc-text-field-helper-text--validation-msg': validation
            }
            aria-hidden='true'
        )&attributes(Object.assign({}, attributes, { persistent: undefined, validation: undefined }))
            = text
            block

mixin mdc-text-field-character-counter
    div.mdc-text-field-helper-line
        div.mdc-text-field-character-counter