include button
include icon-button

mixin mdc-top-app-bar(content)
    - const { element = 'header', title, navigationIcon, fixed, prominent, dense, short, shortCollapsed, ...rest } = attributes

    #{element}.mdc-top-app-bar(
        class={
            'mdc-top-app-bar--fixed': fixed,
            'mdc-top-app-bar--prominent': prominent,
            'mdc-top-app-bar--dense': dense,
            'mdc-top-app-bar--short': short,
            'mdc-top-app-bar--short-collapsed': shortCollapsed
        }
        data-mdc-auto-init='MDCTopAppBar'
    )&attributes(rest)
        if title || navigationIcon
            +mdc-top-app-bar__row
                +mdc-top-app-bar__section()(alignStart)
                    if navigationIcon
                        +mdc-top-app-bar__navigation-icon(navigationIcon)
                    if title
                        +mdc-top-app-bar__title(title)
                
                block
        else
            block

mixin mdc-top-app-bar__row
    - const { element = 'div', ...rest } = attributes

    #{element}.mdc-top-app-bar__row&attributes(rest)
        block

mixin mdc-top-app-bar__section
    - const { element = 'section', align, alignStart, alignCenter, alignEnd, ...rest } = attributes

    #{element}.mdc-top-app-bar__section(class={
        'mdc-top-app-bar__section--align-start': alignStart,
        'mdc-top-app-bar__section--align-center': alignCenter,
        'mdc-top-app-bar__section--align-end': alignEnd,
        [`mdc-top-app-bar__section--align-${align}`]: align
    })&attributes(rest)
        block

mixin mdc-top-app-bar__title(_title)
    - const { element = 'span', title = _title, ...rest } = attributes

    #{element}.mdc-top-app-bar__title&attributes(rest)= title
        block

mixin mdc-top-app-bar__navigation-icon(icon = 'menu')
    +mdc-icon-button(icon).mdc-top-app-bar__navigation-icon&attributes(attributes)
        block

mixin mdc-top-app-bar__action-icon(icon)
    +mdc-icon-button(icon).mdc-top-app-bar__action-item&attributes(attributes)
        block

mixin mdc-top-app-bar__action-button(label)
    +mdc-button(label).mdc-top-app-bar__action-item&attributes(attributes)
        block