mixin mdc-typography(_content)
    - const { element = 'p', content = _content, type = 'body1', color, align, display, noMargin, overflowEllipsis, theme = 'light', ...rest } = attributes

    #{element}.mdc-typography(class={
        [`mdc-typography--${type}`]: type,
        [`mdc-typography--align-${align}`]: align,
        [`mdc-typography--display-${display}`]: display,
        'mdc-typography--no-margin': noMargin,
        'mdc-typography--overflow-ellipsis': overflowEllipsis,
        [`mdc-theme--text-${color}-on-${theme}`]: color
    })&attributes(rest)
        = content
        block