include ../index

mixin nav-item(id, text)
    +mdc-list-item()(element='a' href=`/components/${id}` activated=id === ID)
        +mdc-list-item__text(text)

mixin page
    article.page
        block

mixin page-header(title, description, docsUrl, imageUrl)
    header.page-header
        div.page-header__text
            +mdc-typography(title)(type='headline3').page-title
            +mdc-typography(description)(type='body1').page-description

        if docsUrl
            p
                a(href=docsUrl target='_blank') Docs

        if imageUrl
            img(src=imageUrl)

        block

mixin page-content
    section.page-content
        block

mixin page-section(title, description)
    section.page-section
        if title
            +mdc-typography(title)(type='headline6').page-section-title
        
        if description
            +mdc-typography(description)(type='body1').page-section-description

        block

doctype html
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible" content="ie=edge")
            title MDC Pug | #{TITLE}
            link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono")
            link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
            link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/themes/prism.min.css")
            link(rel="stylesheet" href="/index.css")

    body.mdc-typography
        block body
            block header
                +mdc-top-app-bar()(fixed).app-header
                    +mdc-top-app-bar__row
                        +mdc-top-app-bar__section()(align='start')
                            +mdc-top-app-bar__title('MDC Pug')

                        +mdc-top-app-bar__section()(align='center')
                            img(src='/pug.svg')
                            
                        +mdc-top-app-bar__section()(align='end')
                            +mdc-top-app-bar__action-item('code')(element='a' href='https://github.com/olegpolyakov/mdc-pug' target='_blank')

            div.mdc-top-app-bar--fixed-adjust
                +mdc-drawer.app-drawer
                    +mdc-drawer__content
                        +mdc-list()(element='nav')
                            +mdc-list-item('Home')(element='a' href='/' activated=id === 'home')
                            +nav-item('avatar', 'Avatar')
                            +nav-item('badge', 'Badge')
                            +nav-item('banner', 'Banner')
                            +nav-item('button', 'Button')
                            +nav-item('card', 'Card')
                            +nav-item('checkbox', 'Checkbox')
                            +nav-item('chips', 'Chips')
                            +nav-item('circular-progress', 'Circular Progress')
                            +nav-item('data-table', 'Data Table')
                            +nav-item('dialog', 'Dialog')
                            +nav-item('drawer', 'Drawer')
                            +nav-item('fab', 'FAB')
                            +nav-item('icon-button', 'Icon Button')
                            +nav-item('image-list', 'Image List')
                            +nav-item('layout-grid', 'Layout Grid')
                            +nav-item('linear-progress', 'Linear Progress')
                            +nav-item('list', 'List')
                            +nav-item('menu', 'Menu')
                            +nav-item('radio', 'Radio Button')
                            +nav-item('ripple', 'Ripple')
                            +nav-item('segmented-button', 'Segmented Button')
                            +nav-item('select', 'Select')
                            +nav-item('slider', 'Slider')
                            +nav-item('snackbar', 'Snackbar')
                            +nav-item('switch', 'Switch')
                            +nav-item('tabs', 'Tabs')
                            +nav-item('text-field', 'Text Field')
                            +nav-item('tooltip', 'Tooltip')
                            +nav-item('top-app-bar', 'Top App Bar')
                            +nav-item('typography', 'Typography')

                main.app-content
                    block main
                        +page
                            +page-header('MDC Pug', 'Material Components Web implemented in Pug')

                            +page-content
                                +page-section
                                    +mdc-typography('Setup')(type='headline5')
                                    +mdc-typography('Install the library using npm:')

                                    pre: code npm i mdc-pug

                                    +mdc-typography("If you plan on using the Sass files, you'll also need to install sass:")

                                    pre: code npm i sass -D

                                    +mdc-typography('NOTE: MDC Pug (as well as MDC Web) uses the new [Sass Module System](https://sass-lang.com/blog/the-module-system-is-launched). Unfortunately at this time the `node-sass` implementation does not support it. Please use the `sass` library.')

                                +page-section()
                                    +mdc-typography('Usage')(type='headline5')
                                    +mdc-typography('Pug')(type='headline6')

                                    +mdc-typography('You can include the whole library in your layout file:')

                                    pre: code

        script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/prism.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/components/prism-pug.min.js')
        script(src='/material-components-web.min.js')
        script.
            mdc.autoInit();    

        block scripts